{% extends 'base.html' %}

{% block title %}Crear Categoría{% endblock %}

{% block content %}
<h1 class="title">Crear Categoría</h1>
<form method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label" for="{{ form.nombre.id_for_label }}">Nombre</label>
    <div class="control">
      {{ form.nombre }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}

