{% extends 'base.html' %}

{% block title %}Crear Gasto{% endblock %}

{% block content %}
<h1 class="title">Crear Gasto</h1>
<form method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label" for="{{ form.fecha.id_for_label }}">Fecha</label>
    <div class="control">
      {{ form.fecha }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.categoria.id_for_label }}">Categoría</label>
    <div class="control">
      {{ form.categoria }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.subcategoria.id_for_label }}">Subcategoría</label>
    <div class="select2">
      {{ form.subcategoria }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.cantidad.id_for_label }}">Cantidad</label>
    <div class="control">
      {{ form.cantidad }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.metodo_pago.id_for_label }}">Método de Pago</label>
    <div class="control">
      {{ form.metodo_pago }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.descripcion.id_for_label }}">Descripción</label>
    <div class="control">
      {{ form.descripcion }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}
