{% extends 'base.html' %}

{% block title %}Crear Ingreso{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block content %}
<h1 class="title">Crear Ingreso</h1>
<form method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label" for="{{ form.fecha.id_for_label }}">Fecha</label>
    <div class="control">
      {{ form.fecha }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.fuente.id_for_label }}">Fuente</label>
    <div class="control">
      {{ form.fuente}}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.categoria.id_for_label }}">Categoría</label>
    <div class="control">
      {{ form.categoria}}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.cantidad.id_for_label }}">Cantidad</label>
    <div class="control">
      {{ form.cantidad }}
    </div>
  </div>
  <div class="field">
    <label class="label" for="{{ form.descripcion.id_for_label }}">Descripción</label>
    <div class="control">
      {{ form.descripcion }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Guardar</button>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('.select2').select2();
  });
</script>
{% endblock %}
