{% extends 'base.html' %}

{% block title %}Crear Método de Pago{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<h1 class="title">Crear Método de Pago</h1>
<form method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label" for="{{ form.metodo.id_for_label }}">Método</label>
    <div class="control">
      {{ form.metodo }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button type="submit" class="button is-primary">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $('.select2').select2();
  });
</script>
{% endblock %}
