{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Cartera{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/wallet.svg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar is-primary">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'home' %}">
                    <img src="{% static 'img/wallet.svg' %}" alt="wallet">
                    Mi Cartera
                </a>
                <div class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <!-- Dropdown para Lista de Deseos -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Lista de Deseos
                        </a>
                        <div class="navbar-dropdown">
                            <a href="{% url 'wish_categoria' %}" class="navbar-item">
                                Ver Categorías
                            </a>
                            <a href="{% url 'wish_tiendas_list' %}" class="navbar-item">
                              Ver Tiendas
                            </a>
                        </div>
                    </div>
                    <!-- Dropdown para Gestión de Cartera -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Gestión de Cartera
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{% url 'metodopago_list' %}">
                                Método de Pago
                            </a>
                            <a class="navbar-item" href="{% url 'categoria_list' %}">
                                Categorías
                            </a>
                            <a class="navbar-item" href="{% url 'subcategoria_list' %}">
                                Subcategorías
                            </a>
                            <a class="navbar-item" href="{% url 'fuente_list' %}">
                                Fuentes
                            </a>
                        </div>
                    </div>
                    <a class="navbar-item" href="{% url 'ingreso_list' %}">
                        Ingresos
                    </a>
                    <a class="navbar-item" href="{% url 'gasto_list' %}">
                        Gastos
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main class="container">
        {% if messages %}
            <div class="notification is-success" role="alert">
                {% for message in messages %}
                    <button class="delete"></button>
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>MiCartera</strong> by <a href="https://github.com/nelsonnv">Nelson Navarro</a>.
                The source code is licensed
                <a href="https://opensource.org/licenses/gpl-3.0">GPL-3.0</a>.
            </p>
        </div>
    </footer>
    {% block extra_js %}
    {% endblock %}
  <script src="{% static 'js/header_responsive.js' %}"></script>
</body>
</html>
