<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Cartera{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% endblock %}
</head>
<body>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">
                Mi Cartera
            </a>
            <div class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'categoria_list' %}">
                    Categorías
                </a>
                <a class="navbar-item" href="{% url 'subcategoria_list' %}">
                    Subcategorías
                </a>
                <a class="navbar-item" href="{% url 'fuente_list' %}">
                    Fuentes
                </a>
                <a class="navbar-item" href="{% url 'ingreso_list' %}">
                    Ingresos
                </a>
                <a class="navbar-item" href="{% url 'gasto_list' %}">
                    Gastos
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% if messages %}
            <div class="notification is-success" role="alert">
                {% for message in messages %}
                    <button class="delete"></button>
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        {% block content %}
        {% endblock %}
    </div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>MiCartera</strong> by <a href="https://github.com/nelsonnv">Nelson Navarro</a>.
      The source code is licensed
      <a href="https://opensource.org/licenses/gpl-3.0">GPL-3.0</a>.
    </p>
  </div>
</footer>
    {% block extra_js %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    {% endblock %}
</body>
</html>
