{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}Inicio - Mi Cartera{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <h1 class="title">Resumen Financiero</h1>

    <div class="columns">
      <div class="column is-half">
        <div class="notification is-primary">
          <h2 class="subtitle">Saldo Actual: {{ saldo|floatformat:2|intcomma }} $</h2>
          <h2 class="subtitle">Total Ingresos del Mes: {{ total_ingresos|floatformat:2|intcomma }} $</h2>
          <h2 class="subtitle">Total Gastos del Mes: {{ total_gastos|floatformat:2|intcomma }} $</h2>
          <h2 class="subtitle">Fecha: {{ today }}</h2>
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="subtitle">Ingresos y Gastos</h2>
          <table class="table is-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Categoría</th>
                <th>Cantidad</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              {% for ingreso in ingresos %}
              <tr>
                <td>{{ ingreso.fecha }}</td>
                <td class="has-text-success">Ingreso</td>
                <td>{{ ingreso.categoria }}</td>
                <td class="has-text-success">{{ ingreso.cantidad|floatformat:2|intcomma }} $</td>
                <td>{{ ingreso.descripcion }}</td>
              </tr>
              {% endfor %}
              {% for gasto in gastos %}
              <tr>
                <td>{{ gasto.fecha }}</td>
                <td class="has-text-danger">Gasto</td>
                <td>{{ gasto.categoria }}</td>
                <td class="has-text-danger">{{ gasto.cantidad|floatformat:2|intcomma }} $</td>
                <td>{{ gasto.descripcion }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <div class="box">
          <h2 class="subtitle">Gastos por Categoría</h2>
          <canvas id="gastosChart"></canvas>
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="subtitle">Resumen Mensual de Ingresos y Gastos</h2>
          <canvas id="resumenMensualChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const urlGastosPorCategoria = '{% url "gastos_por_categoria" %}';
  const urlResumenAnual = '{% url "resumen_anual" %}';
</script>
<script src="{% static 'js/home_graficas.js' %}"></script>
{% endblock %}
