{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}Inicio - Mi Cartera{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <h1 class="title">Resumen Financiero de {{today|date:"F Y"}}</h1>

    <div class="columns">
      <div class="column is-half">
        <div class="notification is-primary">
          <h2 class="subtitle">Saldo Actual: {{ saldo|floatformat:0|intcomma }} $</h2>
          <h2 class="subtitle">Total Ingresos: {{ total_ingresos|floatformat:0|intcomma }} $</h2>
          <h2 class="subtitle">Total Gastos: {{ total_gastos|floatformat:0|intcomma }} $</h2>
          <h2 class="subtitle">Fecha actual: {{ today }}</h2>
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="subtitle">Historial de {{ today|date:"F Y" }}</h2>
          <table class="table is-striped">
              <thead>
                  <tr>
                      <th>Fecha</th>
                      <th>Tipo</th>
                      <th>Categoría</th>
                      <th>Cantidad</th>
                  </tr>
              </thead>
              <tbody>
                  {% for item in historial %}
                  <tr>
                      <td>{{ item.fecha }}</td>
                      {% if item.tipo == "Ingreso" %}
                      <td class="has-text-success">Ingreso</td>
                      <td>{{ item.categoria }}</td>
                      <td class="has-text-success">${{ item.cantidad|floatformat:0|intcomma }}</td>
                      {% else %}
                      <td class="has-text-danger">Gasto</td>
                      <td>{{ item.categoria }}</td>
                      <td class="has-text-danger">${{ item.cantidad|floatformat:0|intcomma }}</td>
                      {% endif %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <div class="box">
          <h2 class="subtitle">Gastos por Categoría {{today|date:"F Y"}}</h2>
          <canvas id="gastosChart"></canvas>
        </div>
      </div>

      <div class="column is-half">
        <div class="box">
          <h2 class="subtitle">Ingresos y Gastos de {{today|date:"F Y"}}</h2>
          <canvas id="gastosMesChart"></canvas>
        </div>
      </div>
    </div>

      <div class="column is-full">
        <div class="box">
          <h2 class="subtitle">Ingresos y Gastos del año {{today|date:"Y"}}</h2>
          <canvas id="resumenMensualChart"></canvas>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const urlGastosPorCategoria = '{% url "gastos_por_categoria" %}';
  const urlResumenAnual = '{% url "resumen_anual" %}';
  const urlResumenMensual = '{% url "resumen_mensual" %}';
</script>
<script src="{% static 'js/home_graficas.js' %}"></script>
{% endblock %}
