{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="title">{{ title }}</h1>
  <div class="buttons">
    <a href="{% url create_url %}" class="button is-primary">Agregar {{ title_singular }}</a>
  </div>
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Categoría</th>
        <th>Subcategoría</th>
        <th>Cantidad</th>
        <th>Método de Pago</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.fecha }}</td>
        <td>{{ item.categoria }}</td>
        <td>{{ item.subcategoria.nombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.metodo_pago }}</td>
        <td>{{ item.descripcion }}</td>
        <td>
          <div class="buttons are-small">
            <a href="{% url update_url item.id %}" class="button is-info">Editar</a>
            <a href="{% url delete_url item.id %}" class="button is-danger">Eliminar</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No hay datos disponibles.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
