{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container">
  <h1 class="title">{{ title }}</h1>
  <div class="buttons">
    <a href="{% url create_url %}" class="button is-primary">Agregar {{ title_singular }}</a>
  </div>
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.fecha }}</td> <!-- Muestra el campo 'fecha' -->
        <td>{{ item.fuente }}</td> <!-- Muestra el campo 'fuente' -->
        <td>{{ item.cantidad|floatformat:0|intcomma}}</td> <!-- Muestra el campo 'cantidad' -->
        <td>{{ item.descripcion }}</td> <!-- Muestra el campo 'descripcion' -->
        <td>
          <div class="buttons are-small">
            <a href="{% url update_url item.id %}" class="button is-info">Editar</a>
            <a href="{% url delete_url item.id %}" class="button is-danger">Eliminar</a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="{{ headers|length }}">No hay datos disponibles.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
